<!-- servers.component.html -->
<div>
  <div>
    <div class="example-header">
      Page Size:
      <select (change)="onPageSizeChanged()" id="page-size">
        <option value="10">10</option>
        <option value="25" selected>25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>
    <!-- <button (click)="exportToCsv()">Export to CSV</button> -->
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [sortingOrder]="sortingOrder"
      [pagination]="true"
      [paginationPageSize]="25"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>